.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E6EEFF;
  border-bottom: 1px solid #E6EFF5;
  padding: 0 44px;
}

.header h1 {
  color: #343C6A;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}

.save-button {
  width: 162px;
  height: 59px;
  background: #4880FF;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  cursor: pointer;
} 