.top-header {
  width: 100%;  
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid #eee;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px; /* 요소 간 간격 */
}

.user-role {
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  font-size: 20px;
  color: #e36387;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
